<ion-header>
  <ion-navbar color="purple">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="body">
  <img alt="logo" src="../assets/imgs/logo2.png" class="logoImage">

   <form [formGroup]="todo" (ngSubmit)="regisForm()">
      <ion-item no-lines class="body">
        Firstname
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="name_field" [(ngModel)]="name_field" ></ion-input>
      </ion-item>

       <p ion-text *ngIf="!todo.controls.name_field.valid  && (todo.controls.name_field.dirty )" color="danger" >*Please enter your firstname correctly</p>

      <ion-item no-lines class="body">
        Lastname
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="lastname_field" [(ngModel)]="lastname_field"></ion-input>
      </ion-item>
      <p ion-text *ngIf="!todo.controls.lastname_field.valid  && (todo.controls.lastname_field.dirty )" color="danger" >*Please enter your lastname correctly</p>
      <ion-item no-lines class="body">
      Tel.
      </ion-item>
      <ion-item>
        <ion-input type="number" formControlName="tel_field" [(ngModel)]="tel_field"></ion-input>
      </ion-item>
      <p ion-text *ngIf="!todo.controls.tel_field.valid  && (todo.controls.tel_field.dirty )" color="danger" >*Please enter your telephone correctly</p>
      <ion-item no-lines class="body">
        Citizen ID
      </ion-item>
      <ion-item>
        <ion-input type="number" formControlName="id_field" [(ngModel)]="id_field"></ion-input>
      </ion-item>
      <p ion-text *ngIf="!todo.controls.id_field.valid  && (todo.controls.id_field.dirty )" color="danger" >*Please enter your citizen ID correctly</p>
      <ion-item no-lines class="body">
        E-mail
      </ion-item>
      <ion-item>
        <ion-input  formControlName="email_field" [(ngModel)]="email_field"></ion-input>
      </ion-item>
      <p ion-text *ngIf="!todo.controls.email_field.valid  && (todo.controls.email_field.dirty )" color="danger" >*Please enter your e-mail correctly</p>


     <ion-item no-lines class="body">
        Gender
      </ion-item>
      <ion-list radio-group formControlName="gender" [(ngModel)]="gender">

      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio value="M"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio value="F"></ion-radio>
      </ion-item>
      <p ion-text *ngIf="!todo.controls.gender.valid  && (todo.controls.gender.dirty )" color="danger" >*Please select your gender</p>
    </ion-list>
    <ion-item no-lines class="body">
        Birthdate
    </ion-item>
    <ion-item>
      <ion-label>MM/DD/YYYY</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" formControlName="myDate"[(ngModel)]="myDate"></ion-datetime>
    </ion-item>
    <p ion-text *ngIf="!todo.controls.myDate.valid  && (todo.controls.myDate.dirty )" color="danger" >*You can't fill special alphabet</p>
    <ion-item no-lines class="body">
      Username
    </ion-item>
    <ion-item>
      <ion-input name formControlName="username_field" [(ngModel)]="username_field"></ion-input>
    </ion-item>
    <p ion-text *ngIf="!todo.controls.username_field.valid  && (todo.controls.username_field.dirty )" color="danger" >*Please enter your username correctly</p>
    <ion-item no-lines class="body">
      Password
    </ion-item>
    <ion-item>
      <ion-input pass type="password" formControlName="password_field" [(ngModel)]="password_field"></ion-input>
    </ion-item>
    <p ion-text *ngIf="!todo.controls.password_field.valid  && (todo.controls.password_field.dirty )" color="danger" >*Please enter your password correctly</p>
    <ion-item no-lines class="body">
      Confirm password
    </ion-item>
    <ion-item>
      <ion-input confirmPass type="password" formControlName="confirm_password_filed" [(ngModel)]="confirm_password_filed"></ion-input>
    </ion-item>
    <p ion-text *ngIf="todo.controls.confirm_password_filed.touched && todo.hasError('mismatchedPasswords') && todo.controls.password_field.valid" color="danger" >*Password doesn't match</p>
      <ion-col col-3 text-center>
      <div class="center">
        <re-captcha (resolved)="captchaResolved($event)" siteKey="6Lf3-lkUAAAAANnjgC7_RAwKZ2pA7LplldSJ-bme"></re-captcha>
        <br>
        <button ion-button color="danger" (click)="cancel()">Cancle</button>
        <button ion-button color="secondary" type="submit" [disabled]="!todo.valid || !captchaPassed" (click)="register()">Confirm</button>

      </div>
    </ion-col>

    </form>

</ion-content>
