<!--
  Generated template for the BDetailRoomsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>class {{class}} / {{room}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
   <div text-right>
      <button ion-button color="primary">Agent</button>
   </div>	
<!-- <table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Pick Time</th>
      <th>Parent Name</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <div class="row" *ngFor="let history of HistoryList">
    <tr>
      <td>{{history.firstname}}</td>
      <td>{{history.pick_time}}</td>
      <td>{{history.firstname_pick_kids}}</td>
      <td>{{history.status}}</td>
      <td><button ion-button color="primary">Confirm</button></td>
    </tr>
  </div>
  </tbody>
</table> -->

<div >
        <div class="row header">
          <div width="20%" class="col">Firstname</div>
          <div width="20%" class="col">Pick Time</div>
          <div width="20%" class="col">Parent Name</div>
          <div width="20%" class="col"></div>
        </div>
        <div class="row" *ngFor="let history of HistoryList">
          <div width="20%" class="col">{{history.firstname}}</div>
          <div width="20%" class="col">{{history.pick_time}}</div>
          <div width="20%" class="col">{{history.firstname_pick_kids}}</div>
          <div width="20%" class="col">
            <div *ngIf=" history.status == '0' ">
              <button ion-button class="primary" (click)="showConfirm(history.firstname_pick_kids,history.firstname,history)"> Waiting </button>
            </div>
            <div *ngIf=" history.status == '1' ">
              <button ion-button color="secondary"> Success </button>
            </div>
            <div *ngIf=" history.status == '-1' ">
              <button ion-button color="danger"> Reject </button>
            </div>


          </div>

        </div>
      </div>
</ion-content>
