<ion-header>
    
      <ion-navbar>
         <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>parentAgent</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    
    <ion-content padding>
      <ion-grid>
          <ion-row>
            <ion-label fixed>ชื่อ - นามสกุล</ion-label>
          </ion-row>
          <ion-row padding-left>
             <ion-input type="text" value="" [(ngModel)]="input_name" ></ion-input>
          </ion-row>
          <ion-row>
            <ion-label fixed>เบอร์โทรศัพท์</ion-label>
          </ion-row>
          <ion-row padding-left>
             <ion-input type="text" value="" [(ngModel)]="input_phone"></ion-input>
          </ion-row>
        </ion-grid>
        <ion-item padding text-center>
            <button default ion-button text-center color="light" (click)="createCode()">รับ QR CODE</button>
        </ion-item>
    
        <ion-card *ngIf="createdCode"> 
        <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
        <ion-card-content>
          <div *ngIf="saveButton" text-center>
            <button default ion-button text-center color="light" >บันทึก</button>
          </div>
        </ion-card-content>
      </ion-card>
    
    </ion-content>
    
    <ion-footer>
      <ion-toolbar >
        <ion-title text-center>TAKE MY KIDS OUT</ion-title>
      </ion-toolbar>
    </ion-footer>
